{% extends "./base.html.twig" %}

{% block title %}
    Results page
{% endblock %}

{% block body %}

    {% if results|length %}
    <table>
        <tr>
            <th>Race name: {{ results[0][0].raceName }}</th>
        </tr>
        <tr>
            <th>Date: {{ results[0][0].date }}</th>
        </tr>
        <tr>
            <th>Medium distance</th>
        </tr>

        <tr>
            <td>Average </td>
        </tr>

    <table>
        <tr>
            <th>Full name</th>
            <th>Finish time</th>
            <th>Placement</th>
        </tr>
    {% for result in results %}

            <tr>
                <td>{{ result.fullName }}</td>
                <td>{{ result.raceTime }}</td>
                <td>{{ result.placement }}</td>
                <td>
                    <a href="results/edit/{{ result.id }}"
                    class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">Edit
                    </a>
                </td>
                
            </tr>
        
    {% endfor %}

    </table>
    {% else %}
        There are no results
    {% endif %}
{% endblock %}
